---
site_name: Infratographer Community
site_author: Infratographer Maintainers
dev_addr: 0.0.0.0:7708
docs_dir: source/docs
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:materialx.emoji.to_svg
      emoji_index: !!python/name:materialx.emoji.twemoji
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      repo_url_shorthand: true
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences:
      preserve_tabs: true
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

extra_css:
  - assets/stylesheets/extra.css
extra_javascript:
  - https://unpkg.com/tablesort@5.3.0/dist/tablesort.min.js
  - javascripts/tablesort.js

plugins:
  - search:
      separator: '[\s\u200b\-,:!=\[\]()"/]+|\.(?!\d)|&[lg]t;|(?!\b)(?=[A-Z][a-z])'
  - minify:
      minify_html: true
  - git-revision-date-localized:
      enable_creation_date: true
      type: timeago
  - git-committers:
      repository: infratographer/community
      branch: main
      docs_dir: .

extra:
  generator: false
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/infratographer

theme:
  include_search_page: false
  search_index_only: true
  custom_dir: source/theme
  name: material
  icon:
    repo: reverse
    logo: material/sail-boat
  features:
    - navigation.instant
    - navigation.top
    - navigation.indexes
    - navigation.tracking
    - navigation.prune
    - search.highlight
    - search.suggest
    - search.share
    - search.highlight
    - header.autohide
    - content.code.annotate
    - content.tooltips
    - announce.dismiss
    - toc.follow

nav:
  - Home: index.md
  - Community:
    - About: community/about.md
    - Code of Conduct: community/code-of-conduct.md
    - Contributing: community/contributing.md
    - Support: community/support.md
    - Project Guidelines: community/project-guidelines.md
  - Documentation:
    - Architecture: docs/architecture.md
    - Development:
      - Guide: docs/development/guide.md
      - Local Setup:
        - Index: docs/development/local-setup/index.md
        - VS Code: docs/development/local-setup/vs-code.md
        - SSH: docs/development/local-setup/ssh.md
    - Identity and Access Management:
      - Identity: docs/identity-and-access-management/identity.md
      - Tenancy: docs/identity-and-access-management/tenancy.md
    - Network Automation and Services: docs/network-automation-services.md
